<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="side-menu animate-dropdown outer-bottom-xs" th:fragment="menu">
    <div class="head">
        <i class="icon fa fa-align-justify fa-fw"></i> Danh mục
    </div>
    <nav class="yamm megamenu-horizontal">
        <ul class="nav">
            <!-- Đặt th:each trực tiếp trên thẻ <li> -->
            <li class="dropdown menu-item" th:each="category : ${listLoai}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${category.name}">
                    <!-- Nội dung liên kết được lấy từ category.name -->
                </a>
                <ul class="dropdown-menu mega-menu">
                    <li class="yamm-content">
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <ul class="links list-unstyled">
                                    <li><a href="#">iPhone9</a></li>
                                    <li><a href="#">iPhoneX</a></li>
                                    <li><a href="#">iPhone11</a></li>
                                    <li><a href="#">iPhone12</a></li>
                                    <li><a href="#">iPhone13</a></li>
                                    <li><a href="#">iPhone14</a></li>
                                    <li><a href="#">iPhone15</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <ul class="links list-unstyled">
                                    <li><a href="#">Galaxy M</a></li>
                                    <li><a href="#">Galaxy A</a></li>
                                    <li><a href="#">Galaxy S</a></li>
                                    <li><a href="#">Galaxy Z</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <ul class="links list-unstyled">
                                    <li><a href="#">OPPO Find N</a></li>
                                    <li><a href="#">OPPO A</a></li>
                                    <li><a href="#">OPPO Reno</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <ul class="links list-unstyled">
                                    <li><a href="#">Xiaomi Mi</a></li>
                                    <li><a href="#">Xiaomi Redmi</a></li>
                                    <li><a href="#">Redmi 12</a></li>
                                    <li><a href="#">Redmi Note 13</a></li>
                                </ul>
                            </div>
                        </div> <!-- /.row -->
                    </li> <!-- /.yamm-content -->
                </ul> <!-- /.dropdown-menu -->
            </li>
        </ul> <!-- /.nav -->
    </nav> <!-- /.megamenu-horizontal -->
</div>
