<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/head :: head}"></head>

<body class="cnt-home">
    <!-- ============================================== HEADER ============================================== -->
    <header class="header-style-1">

        <!-- ============================================== TOP MENU ============================================== -->

        <!-- ============================================== TOP MENU : END ============================================== -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                        <!-- ============================================================= LOGO ============================================================= -->
                        <div class="logo">
                            <a href="/">

                                <img src="assets\images\logo.png" alt="">

                            </a>
                        </div><!-- /.logo -->
                        <!-- ============================================================= LOGO : END ============================================================= -->
                    </div><!-- /.logo-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder">
                        <!-- /.contact-row -->

                        <!-- ============================================================= SEARCH AREA ============================================================= -->
                        <div class="search-area">
                            <form>
                                <div class="control-group">
                                    <ul class="categories-filter animate-dropdown">
                                        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
                                                href="category.html">Loại hàng <b class="caret"></b></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                        href="category.html">- Điện thoại di động</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                        href="category.html">- Laptop</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                        href="category.html">- Máy tính bảng</a></li>
                                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                        href="category.html">- Phụ kiện</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <input class="search-field" placeholder="Tìm kiếm...">
                                    <a class="search-button" href="#"></a>
                                </div>
                            </form>
                        </div><!-- /.search-area -->
                        <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                    </div><!-- /.top-search-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row">
                        <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

                        <div class="dropdown dropdown-cart">
                            <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
                                <div class="items-cart-inner">
                                    <div class="basket">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>
                                    </div>
                                    <div class="basket-item-count"><span class="count">2</span></div>
                                    <div class="total-price-basket">
                                        <span class="lbl">Xem -</span>
                                        <span class="total-price">
                                            <span class="sign">$</span><span class="value">600.00</span>
                                        </span>
                                    </div>


                                </div>
                            </a>

                        </div><!-- /.dropdown-cart -->

                        <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
                    </div><!-- /.top-cart-row -->
                </div><!-- /.row -->

            </div><!-- /.container -->

        </div><!-- /.main-header -->

        <!-- ============================================== NAVBAR ============================================== --><!-- /.header-nav -->
        <!-- ============================================== NAVBAR : END ============================================== -->
        <div class="header-nav animate-dropdown">
            <div class="container">
                <div class="yamm navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse"
                            class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div class="nav-bg-class">
                        <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                            <div class="nav-outer">
                                <ul class="nav navbar-nav">
                                    <li class="active dropdown yamm-fw"> <a href="/" class="dropdown-toggle">Trang
                                            chủ</a> </li>
                                    <li class="dropdown yamm mega-menu"> <a href="#" data-hover="dropdown"
                                            class="dropdown-toggle" data-toggle="dropdown">Điện thoại di động <span
                                                class="menu-label hot-menu hidden-xs">hot</span></a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content ">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                            <h2 class="title">Apple</h2>
                                                            <ul class="links">
                                                                <li><a href="#">iPhone9</a></li>
                                                                <li><a href="#">iPhoneX </a></li>
                                                                <li><a href="#">iPhone11</a></li>
                                                                <li><a href="#">iPhone12</a></li>
                                                                <li><a href="#">iPhone13</a></li>
                                                                <li><a href="#">iPhone14</a></li>
                                                                <li><a href="#">iPhone15</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->

                                                        <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                            <h2 class="title">Samsung</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Galaxy M</a></li>
                                                                <li><a href="#">Galaxy A</a></li>
                                                                <li><a href="#">Galaxy S </a></li>
                                                                <li><a href="#">Galaxy Z</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->

                                                        <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                            <h2 class="title">OPPO</h2>
                                                            <ul class="links">
                                                                <li><a href="#">OPPO Find N</a></li>
                                                                <li><a href="#">OPPO A</a></li>
                                                                <li><a href="#">OPPO Reno</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->

                                                        <div class="col-xs-12 col-sm-6 col-md-2 col-menu">
                                                            <h2 class="title">Xiaomi</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Xiaomi Mi </a></li>
                                                                <li><a href="#">Xiaomi Redmi</a></li>
                                                                <li><a href="#">Redmi 12</a></li>
                                                                <li><a href="#">Redmi Note 13</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->

                                                        <div class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image">
                                                            <img class="img-responsive"
                                                                src="assets\images\banners\top-menu-banner.jpg" alt="">
                                                        </div>
                                                        <!-- /.yamm-content -->
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown mega-menu">
                                        <a href="category.html" data-hover="dropdown" class="dropdown-toggle"
                                            data-toggle="dropdown">Laptop <span
                                                class="menu-label hot-menu hidden-xs">hot</span> </a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">HP</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Pavilion</a></li>
                                                                <li><a href="#">Victus</a></li>
                                                                <li><a href="#">Envy</a></li>
                                                                <li><a href="#">ProBook</a></li>
                                                                <li><a href="#">EliteBook</a></li>
                                                                <li><a href="#">Omen</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->

                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Asus</h2>
                                                            <ul class="links">
                                                                <li><a href="#">VivoBook</a></li>
                                                                <li><a href="#">TUF Gaming</a></li>
                                                                <li><a href="#">ZenBook</a></li>
                                                                <li><a href="#">ROG</a></li>
                                                                <li><a href="#">ExpertBook</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->

                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Acer</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Aspire</a></li>
                                                                <li><a href="#">Aspire Gaming</a></li>
                                                                <li><a href="#">Nitro</a></li>
                                                                <li><a href="#">Swift</a></li>
                                                                <li><a href="#">Predator</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">MacBook (Apple)</h2>
                                                            <ul class="links">
                                                                <li><a href="#">MacBook Air</a></li>
                                                                <li><a href="#">MacBook Pro</a></li>
                                                                <li><a href="#">MacBook Air 13 inch</a></li>
                                                                <li><a href="#">MacBook Air 15 inch</a></li>
                                                                <li><a href="#">MacBook Pro 14 inch</a></li>
                                                                <li><a href="#">MacBook Pro 16 inch</a></li>
                                                                <li><a href="#">MacBook Pro M3</a></li>
                                                                <li><a href="#">MacBook Air M3</a></li>
                                                            </ul>
                                                        </div>
                                                        <div
                                                            class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner">
                                                            <a href="#"><img alt=""
                                                                    src="assets\images\banners\banner-side.png"></a>
                                                        </div>
                                                    </div>
                                                    <!-- /.row -->
                                                </div>
                                                <!-- /.yamm-content -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown mega-menu">
                                        <a href="category.html" data-hover="dropdown" class="dropdown-toggle"
                                            data-toggle="dropdown">Máy tính bảng <span
                                                class="menu-label hot-menu hidden-xs">hot</span> </a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">iPad (Apple)</h2>
                                                            <ul class="links">
                                                                <li><a href="#">iPad Pro M4</a></li>
                                                                <li><a href="#">iPad Air M2</a></li>
                                                                <li><a href="#">iPad 9</a></li>
                                                                <li><a href="#">iPad 10</a></li>
                                                                <li><a href="#">iPad Air</a></li>
                                                                <li><a href="#">iPad Pro M2</a></li>
                                                                <li><a href="#">iPad Mini</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->

                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Samsung</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Galaxy Tab S</a></li>
                                                                <li><a href="#">Galaxy Tab A</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->

                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Xiaomi</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Redmi Pad SE</a></li>
                                                                <li><a href="#">Pad 6</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">OPPO</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Pad Neo</a></li>
                                                                <li><a href="#">Pad 2</a></li>
                                                                <li><a href="#">Pad Neo 4G</a></li>
                                                                <li><a href="#">Pad Air</a></li>
                                                            </ul>
                                                        </div>
                                                        <div
                                                            class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner">
                                                            <a href="#"><img alt=""
                                                                    src="assets\images\banners\banner-side.png"></a>
                                                        </div>
                                                    </div>
                                                    <!-- /.row -->
                                                </div>
                                                <!-- /.yamm-content -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown mega-menu">
                                        <a href="category.html" data-hover="dropdown" class="dropdown-toggle"
                                            data-toggle="dropdown">Phụ kiện</a>
                                        <ul class="dropdown-menu container">
                                            <li>
                                                <div class="yamm-content">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Phụ kiện di động</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Sạc dự phòng</a></li>
                                                                <li><a href="#">Cáp</a></li>
                                                                <li><a href="#">Ốp lưng</a></li>
                                                                <li><a href="#">Miếng dán camera</a></li>
                                                                <li><a href="#">Giá đỡ điện thoại</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->

                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Thiết bị âm thanh</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Tai nghe Bluetooth</a></li>
                                                                <li><a href="#">Tai nghe dây</a></li>
                                                                <li><a href="#">Loa </a></li>
                                                                <li><a href="#">Micro</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->

                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Phụ kiện Laptop</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Chuột máy tính</a></li>
                                                                <li><a href="#">Bàn phím</a></li>
                                                                <li><a href="#">Router</a></li>
                                                                <li><a href="#">Balo</a></li>
                                                                <li><a href="#">Túi chống sốc</a></li>
                                                                <li><a href="#">Giá đỡ Laptop</a></li>
                                                                <li><a href="#">Phần mềm</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.col -->
                                                        <div class="col-xs-12 col-sm-12 col-md-2 col-menu">
                                                            <h2 class="title">Thiết bị nhà thông minh</h2>
                                                            <ul class="links">
                                                                <li><a href="#">Camera trong nhà</a></li>
                                                                <li><a href="#">Camera ngoài trời</a></li>
                                                                <li><a href="#">Máy chiếu</a></li>
                                                            </ul>
                                                        </div>
                                                        <div
                                                            class="col-xs-12 col-sm-12 col-md-4 col-menu custom-banner">
                                                            <a href="#"><img alt=""
                                                                    src="assets\images\banners\banner-side.png"></a>
                                                        </div>
                                                    </div>
                                                    <!-- /.row -->
                                                </div>
                                                <!-- /.yamm-content -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown yamm-fw"> <a href="/introduce" class="dropdown-toggle">Giới
                                            thiệu</a> </li>
                                    <li class="dropdown yamm-fw"> <a href="/contact" class="dropdown-toggle">Liên hệ</a>
                                    </li>
                                    <li class="dropdown yamm-fw"> <a href="/cartegorys" class="dropdown-toggle">Sản
                                            phẩm</a> </li>
                                    <li class="dropdown  navbar-right special-menu"> <a href="#">Todays offer</a> </li>
                                </ul>
                                <!-- /.navbar-nav -->
                                <div class="clearfix"></div>
                            </div>
                            <!-- /.nav-outer -->
                        </div>
                        <!-- /.navbar-collapse -->

                    </div>
                    <!-- /.nav-bg-class -->
                </div>
                <!-- /.navbar-default -->
            </div>
            <!-- /.container-class -->

        </div>
    </header>

    <!-- ============================================== HEADER : END ============================================== -->
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li class='active'>Giới thiệu</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div><!-- /.breadcrumb -->

    <div class="body-content">
        <div class="container">
            <div class="row">
                <div class="blog-page">
                    <div class="col-md-9">
                        <div class="blog-post  wow fadeInUp">
                            <a href="blog-details.html"><img class="img-responsive" src="assets/images/Acer/anh2.jpg"
                                    alt=""></a>
                            <h1><a href="blog-details.html">Chào mừng bạn đến với cửa hàng điện thoại và phụ kiện của
                                    chúng tôi!</a></h1>
                            <span class="author">John Doe</span>
                            <span class="review">6 Comments</span>
                            <span class="date-time">14/06/2016 10.00AM</span>
                            <p>Tại đây, chúng tôi tự hào là điểm đến lý tưởng cho những người đam mê công nghệ, âm nhạc
                                và phong cách sống hiện đại. Với một sự kết hợp tuyệt vời giữa đội ngũ nhân viên chuyên
                                nghiệp và sự đa dạng của sản phẩm, chúng tôi cam kết mang đến cho khách hàng trải nghiệm
                                mua sắm đáng nhớ và hài lòng nhất.</p>
                            <a href="#" class="btn btn-upper btn-primary read-more">Đọc thêm</a>
                        </div>
                        <div class="blog-post outer-top-bd  wow fadeInUp">
                            <a href="blog-details.html"><img class="img-responsive" src="assets/images/Acer/anh1.jpg"
                                    alt=""></a>
                            <h1><a href="blog-details.html">Bạn có thể tìm thấy những gì ở cửa hàng của chúng tôi!</a>
                            </h1>
                            <span class="author">Sarah Smith</span>
                            <span class="review">6 Comments</span>
                            <span class="date-time">20/06/2016 11.00AM</span>
                            <p>Tại cửa hàng của chúng tôi, bạn sẽ tìm thấy một loạt các sản phẩm điện thoại di động từ
                                các thương hiệu hàng đầu trên thị trường, từ những chiếc điện thoại thông minh tiên tiến
                                với công nghệ mới nhất đến những mẫu điện thoại cơ bản phục vụ nhu cầu cơ bản. Ngoài ra,
                                chúng tôi cũng cung cấp các dòng sản phẩm tai nghe chất lượng, loa di động, phụ kiện
                                điện thoại và nhiều sản phẩm công nghệ khác.</p>
                            <a href="#" class="btn btn-upper btn-primary read-more">Đọc thêm</a>
                        </div>
                        <div class="blog-post outer-top-bd  wow fadeInUp">
                            <a href="blog-details.html"><img class="img-responsive" src="assets/images/Acer/anh3.jpg"
                                    alt=""></a>
                            <h1><a href="blog-details.html">Chúng tôi có đội ngũ nhân viên chuyên nghiệp và nhiệt
                                    tình</a></h1>
                            <span class="author">Mark Doe</span>
                            <span class="review">6 Comments</span>
                            <span class="date-time">14/06/2014 11.00AM</span>
                            <p>Đội ngũ nhân viên của chúng tôi luôn sẵn sàng hỗ trợ bạn trong việc lựa chọn sản phẩm phù
                                hợp với nhu cầu và sở thích của bạn. Với kiến thức chuyên môn sâu rộng và tư vấn tận
                                tâm, chúng tôi cam kết giúp bạn tìm ra lựa chọn hoàn hảo nhất.</p>
                            <a href="#" class="btn btn-upper btn-primary read-more">Đọc thêm</a>
                        </div>

                        <div class="clearfix blog-pagination filters-container  wow fadeInUp"
                            style="padding:0px; background:none; box-shadow:none; margin-top:15px; border:none">

                            <div class="text-right">
                                <div class="pagination-container">
                                    <ul class="list-inline list-unstyled">
                                        <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul><!-- /.list-inline -->
                                </div><!-- /.pagination-container -->
                            </div><!-- /.text-right -->

                        </div><!-- /.filters-container -->
                    </div>
                    <div class="col-md-3 sidebar">



                        <div class="sidebar-module-container">
                            <div class="search-area outer-bottom-small">
                                <form>
                                    <div class="control-group">
                                        <input placeholder="Tìm" class="search-field">
                                        <a href="#" class="search-button"></a>
                                    </div>
                                </form>
                            </div>

                            <div class="home-banner outer-top-n outer-bottom-xs">
                                <img src="assets\images\banners\LHS-banner.jpg" alt="Image">
                            </div>
                            <!-- ==============================================CATEGORY============================================== -->
                            <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
                                <h3 class="section-title">Loại</h3>
                                <div class="sidebar-widget-body m-t-10">
                                    <div class="accordion">
                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#collapseOne" data-toggle="collapse"
                                                    class="accordion-toggle collapsed">
                                                    Điện thoại
                                                </a>
                                            </div><!-- /.accordion-heading -->
                                            <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
                                                <div class="accordion-inner">
                                                    <ul>
                                                        <li><a href="#">Samsung</a></li>
                                                        <li><a href="#">Iphone</a></li>
                                                        <li><a href="#">Xiaomi</a></li>
                                                        <li><a href="#">Oppo</a></li>
                                                    </ul>
                                                </div><!-- /.accordion-inner -->
                                            </div><!-- /.accordion-body -->
                                        </div><!-- /.accordion-group -->

                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#collapseTwo" data-toggle="collapse"
                                                    class="accordion-toggle collapsed">
                                                    Laptop
                                                </a>
                                            </div><!-- /.accordion-heading -->
                                            <div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
                                                <div class="accordion-inner">
                                                    <ul>
                                                        <li><a href="#">Hp</a></li>
                                                        <li><a href="#">Asus</a></li>
                                                        <li><a href="#">Acer</a></li>
                                                        <li><a href="#">Macbook</a></li>
                                                    </ul>
                                                </div><!-- /.accordion-inner -->
                                            </div><!-- /.accordion-body -->
                                        </div><!-- /.accordion-group -->

                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#collapseThree" data-toggle="collapse"
                                                    class="accordion-toggle collapsed">
                                                    Máy tính bảng
                                                </a>
                                            </div><!-- /.accordion-heading -->
                                            <div class="accordion-body collapse" id="collapseThree"
                                                style="height: 0px;">
                                                <div class="accordion-inner">
                                                    <ul>
                                                        <li><a href="#">Samsung</a></li>
                                                        <li><a href="#">Apple</a></li>
                                                        <li><a href="#">Oppo</a></li>
                                                        <li><a href="#">Xiaomi</a></li>
                                                    </ul>
                                                </div><!-- /.accordion-inner -->
                                            </div><!-- /.accordion-body -->
                                        </div><!-- /.accordion-group -->

                                        <div class="accordion-group">
                                            <div class="accordion-heading">
                                                <a href="#collapseFour" data-toggle="collapse"
                                                    class="accordion-toggle collapsed">
                                                    Phụ kiện
                                                </a>
                                            </div><!-- /.accordion-heading -->
                                            <div class="accordion-body collapse" id="collapseFour" style="height: 0px;">
                                                <div class="accordion-inner">
                                                    <ul>
                                                        <li><a href="#">Phụ kiện di động</a></li>
                                                        <li><a href="#">Phụ kiện âm thanh</a></li>
                                                        <li><a href="#">Phụ kiện laptop</a></li>
                                                        <li><a href="#">Phụ kiện nhà thông minh</a></li>
                                                    </ul>
                                                </div><!-- /.accordion-inner -->
                                            </div><!-- /.accordion-body -->
                                        </div><!-- /.accordion-group -->



                                    </div><!-- /.accordion -->
                                </div><!-- /.sidebar-widget-body -->
                            </div><!-- /.sidebar-widget -->
                            <!-- ============================================== CATEGORY : END ============================================== -->
                            <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
                                <h3 class="section-title">Tin đáng chú ý</h3>
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#popular" data-toggle="tab">Tin nổi bật</a></li>
                                    <li><a href="#recent" data-toggle="tab">Tin gần đây</a></li>
                                </ul>
                                <div class="tab-content" style="padding-left:0">
                                    <div class="tab-pane active m-t-20" id="popular">
                                        <div class="blog-post inner-bottom-30 ">
                                            <img class="img-responsive" src="assets\images\blog-post\blog_big_01.jpg"
                                                alt="">
                                            <h4><a href="blog-details.html">Cách đặt trước Iphone 16</a></h4>
                                            <span class="review">6 Comments</span>
                                            <span class="date-time">12/06/16</span>
                                            <p>Để đặt điện thoại trước, bạn có thể tham khảo danh sách sản phẩm trên
                                                trang web của chúng tôi và liên hệ trực tiếp qua số điện thoại hoặc đến
                                                cửa hàng để được tư vấn và đặt hàng một cách nhanh chóng và thuận tiện
                                                nhất.</p>

                                        </div>
                                        <div class="blog-post">
                                            <img class="img-responsive" src="assets\images\blog-post\blog_big_02.jpg"
                                                alt="">
                                            <h4><a href="blog-details.html">Hướng dẫn dùng bút Android</a></h4>
                                            <span class="review">6 Comments</span>
                                            <span class="date-time">23/06/16</span>
                                            <p>Đơn giản bạn chỉ cần cầm bút lên và đặt lên màn hình cảm ứng Android</p>

                                        </div>
                                    </div>

                                    <div class="tab-pane m-t-20" id="recent">
                                        <div class="blog-post inner-bottom-30">
                                            <img class="img-responsive" src="assets\images\blog-post\blog_big_03.jpg"
                                                alt="">
                                            <h4><a href="blog-details.html">Simple Blog Post</a></h4>
                                            <span class="review">6 Comments</span>
                                            <span class="date-time">5/06/16</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                                        </div>
                                        <div class="blog-post">
                                            <img class="img-responsive" src="assets\images\blog-post\blog_big_01.jpg"
                                                alt="">
                                            <h4><a href="blog-details.html">Simple Blog Post</a></h4>
                                            <span class="review">6 Comments</span>
                                            <span class="date-time">10/07/16</span>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================== PRODUCT TAGS ============================================== -->
                            <div class="sidebar-widget product-tag wow fadeInUp">
                                <h3 class="section-title">Khác</h3>
                                <div class="sidebar-widget-body outer-top-xs">
                                    <div class="tag-list">
                                        <a class="item" title="Phone" href="category.html">Samsung S 20204</a>
                                        <a class="item active" title="Vest" href="category.html">Iphone 15 Promax</a>
                                        <a class="item" title="Smartphone" href="category.html">Iphone 11</a>
                                        <a class="item" title="Furniture" href="category.html">Laptop HP Pavilion</a>
                                        <a class="item" title="T-shirt" href="category.html">Cáp sạc Iphone</a>
                                        <a class="item" title="Sweatpants" href="category.html">Cáp sạc Samsung</a>
                                        <a class="item" title="Sneaker" href="category.html">Tai nghe Havit</a>

                                    </div><!-- /.tag-list -->
                                </div><!-- /.sidebar-widget-body -->
                            </div><!-- /.sidebar-widget -->
                            <!-- ============================================== PRODUCT TAGS : END ============================================== -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================== BRANDS CAROUSEL ============================================== -->
            <div id="brands-carousel" class="logo-slider wow fadeInUp">

                <div class="logo-slider-inner">
                    <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
                        <div class="item m-t-15">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item m-t-10">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand2.png" src="assets\images\blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand3.png" src="assets\images\blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand4.png" src="assets\images\blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand6.png" src="assets\images\blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand2.png" src="assets\images\blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand4.png" src="assets\images\blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt="">
                            </a>
                        </div><!--/.item-->

                        <div class="item">
                            <a href="#" class="image">
                                <img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt="">
                            </a>
                        </div><!--/.item-->
                    </div><!-- /.owl-carousel #logo-slider -->
                </div><!-- /.logo-slider-inner -->

            </div><!-- /.logo-slider -->
            <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
        </div>
    </div>
    <!-- ============================================================= FOOTER ============================================================= -->
    <footer id="footer" class="footer color-bg">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Liên hệ với chúng tôi</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class="toggle-footer">
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
                                                class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body">
                                        <p>Toà nhà FPT Polytechnic, đường số 22, phường Thường Thạnh, quận Cái Răng, TP
                                            Cần Thơ
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
                                                class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body">
                                        <p> 098 388 1100 <br>
                                            091 2823 492</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
                                                class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body"> <span><a href="#">caodang@fpt.edu.vn</a></span> </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">DỊCH VỤ KHÁCH HÀNG</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li class="first"><a href="#" title="Contact us">Tài khoản của tôi</a></li>
                                <li><a href="#" title="About us">Lịch sử đặt hàng</a></li>
                                <li><a href="#" title="faq">FAQ</a></li>
                                <li><a href="#" title="Popular Searches">Đặc biệt</a></li>
                                <li class="last"><a href="#" title="Where is my order?">Trung tâm trợ giúp</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Công ty</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li class="first"><a title="Your Account" href="#">Về chúng tôi</a></li>
                                <li><a title="Information" href="#">Chăm sóc khách hàng</a></li>
                                <li><a title="Addresses" href="#">Quan hệ nhà đầu tư</a></li>
                                <li class="last"><a title="Orders History" href="#">Tìm kiếm nâng cao</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Tại sao chọn chúng tôi</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li class="first"><a href="#" title="About us">Hướng dẫn mua hàng</a></li>
                                <li><a href="#" title="Blog">Tin tức</a></li>
                                <li><a href="#" title="Company">Công ty</a></li>
                                <li><a href="#" title="Investor Relations">Quan hệ nhà đầu tư</a></li>
                                <li class=" last"><a href="contact-us.html" title="Suppliers">Liên hệ với chúng tôi</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-bar">
            <div class="container">
                <div class="col-xs-12 col-sm-6 no-padding social">
                    <ul class="link">
                        <li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
                        <li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
                        <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#"
                                title="GooglePlus"></a></li>
                        <li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
                        <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a>
                        </li>
                        <li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a>
                        </li>
                        <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 no-padding">
                    <div class="clearfix payment-methods">
                        <ul>
                            <li><img src="assets\images\payments\1.png" alt=""></li>
                            <li><img src="assets\images\payments\2.png" alt=""></li>
                            <li><img src="assets\images\payments\3.png" alt=""></li>
                            <li><img src="assets\images\payments\4.png" alt=""></li>
                            <li><img src="assets\images\payments\5.png" alt=""></li>
                        </ul>
                    </div>
                    <!-- /.payment-methods -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ============================================================= FOOTER : END============================================================= -->


    <!-- For demo purposes – can be removed on production -->
    <!-- For demo purposes – can be removed on production : End -->

    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="assets\js\jquery-1.11.1.min.js"></script>

    <script src="assets\js\bootstrap.min.js"></script>

    <script src="assets\js\bootstrap-hover-dropdown.min.js"></script>
    <script src="assets\js\owl.carousel.min.js"></script>

    <script src="assets\js\echo.min.js"></script>
    <script src="assets\js\jquery.easing-1.3.min.js"></script>
    <script src="assets\js\bootstrap-slider.min.js"></script>
    <script src="assets\js\jquery.rateit.min.js"></script>
    <script type="text/javascript" src="assets\js\lightbox.min.js"></script>
    <script src="assets\js\bootstrap-select.min.js"></script>
    <script src="assets\js\wow.min.js"></script>
    <script src="assets\js\scripts.js"></script>




</body>

</html>